/* Left & Right alignment */
.left { float:left; }
.right { float:right; }
.wrapper { overflow:hidden;width:100%; }
/* Global properties ======================================================== */
.glob{ position:absolute; overflow:hidden;width:100%; height:100%; }
body{ position:absolute; overflow:hidden; min-width:980px; min-height:100%; width:100%; height:100%; background: url(../images/bgPart.png); color:#000; font-family:Arial, Helvetica, sans-serif; line-height:20px; }
.ic {float:right;overflow:hidden;margin:-220% 0 0 0;padding:0;width:50%;border:0;background:#fff;color:#f00;font-size:10px;line-height:10px;}
/* Global Structure ========================================================= */
.main { z-index:2;margin:0px auto 0 auto; 	width: 1080px; height:100%; }
.page_spinner{ position:fixed; top:0; left:0; z-index:99; width:100%; height:100%; background:url(../images/loader.gif) 50% 50% no-repeat #fbf9f3;}
#glob{position:relative; z-index:1; overflow:hidden; }
/* ============================= main layout ===========font-family: 'Open Sans', sans-serif; */
a{ outline:none; color:#fff; text-decoration:none; font-size: 10px; }
a:hover{ text-decoration:underline;}
h1{float:left; }
h2{ padding-bottom: 28px; width:100%; color:#fff; text-transform:uppercase; letter-spacing: -2px; font-weight: 300; font-size:42px;font-family: 'Open Sans', sans-serif; line-height:30px;}
h3{ padding-bottom: 0px; width:100%;color: #fff; font-weight:400; font-size:15px; line-height:26px;}
p{ padding-bottom: 0px; color: #808080; font-size: 15px;font-family:Arial, sans-serif; line-height: 26px; }
.undLineOff{text-decoration:none; }
.textLowerCase{text-transform:lowercase;}
.textUpperCase{text-transform:uppercase;}
.center{ position: relative; padding:0 0; width:100%; }
.alignLeft{text-align:left; }
.alignCenter{text-align:center; }
.alignRight{text-align:right; }
/* ============================= header ===================================== */
header{position:relative;  z-index:1; display: inline-block; }
#logo{ display:inline-block; width: 210px; height: 100px; background: url(../images/logo.png) 0 0 no-repeat;text-indent:-9999px; }
#logo:hover{text-decoration:none; }
.logoHolder{ position: relative; display:inline-block; }
.headerHolder{position: relative; z-index: 10; margin: 0 auto; width: 1080px; height: 135px; }
.slogan{ letter-spacing:-1px;font-size:14px; line-height:20px; }
.menu{position:relative; z-index:1; display:inline-block; float: right; margin-top: 70px;}
.menuHolder{ float: left; z-index: 2; position: relative; display:inline-block; width: 220px; height: 540px;}
#menu { position:relative;z-index:3; }
#menu > li{ position:relative; display:inline-block;float:left; margin: 0 1px; }
#menu > li > a{   position:relative; display: inline-block; text-transform:uppercase; font-family: 'Open Sans', sans-serif;  }
#menu > li > a:hover{text-decoration:none; }
#menu > li.active > a{text-decoration:none; }
.submenu_1{position: relative;  left: 0; z-index:2;  width: 100%; }
.submenu_1 li{position:relative; display:inline-block; margin: 4px 15px; }
.submenu_1 a{  display:inline-block; color:#313131; text-align:left; text-transform:uppercase; font-weight: 300; font-size: 26px;font-family: 'Open Sans', sans-serif; line-height: 26px;}
.submenu_1 li:hover > a, .submenu_1 li.sfHover > a{text-decoration:none;  }
#menu .magTop1{margin-top: 15px; }
#menu .magBot1{margin-bottom:15px; }
.mText{position:relative;display: inline-block;letter-spacing: -2px;font-weight: 300;font-size: 42px; line-height: 44px;}
.overPlane{ position: absolute; bottom: 0px; left: 0; width: 100%;  }
.textHolder{position:absolute; top:0; left:0; z-index:1; display:inline-block; overflow:hidden; height:50px; }
.leftHolder{position:relative; float:left; width:400px; height:620px; }
/* ============================= content ====================== */
#content{position:relative; z-index: 1;display: inline-block;  float: left;overflow: hidden; width: 720px; height: 540px;}
#content > ul{position: relative; z-index: 1;width:100%; height: 540px;}
#content > ul > li{ position:absolute; display:block;  overflow: hidden;width: 100%;}
.box{position: relative;margin: 30px 30px; width: 660px;height: 480px; background:url(../images/extra1.png);}
.underline{text-decoration:underline; }
.space1{display:inline-block; width: 80px; }
.padBot1{padding-bottom: 35px;}
.padBot2{padding-bottom: 16px;}
.padBot3{padding-bottom: 17px;}
.padBot4{padding-bottom: 15px;}
.padBot5{padding-bottom: 15px;}
.magRight1{margin-right: 21px;}
.magRight2{margin-right: 36px;}
.magRight3{margin-right: 46px;}
.color1{color: #414141;}
.color2{color: #000;}
.color3{color: #c2472f;}
.color4{color: #ff6c00;}
._link1{color: #fff; font-size: 15px;}
._link1:hover{color: #fff; text-decoration: underline; font-size: 15px;}
._link2{color: #414141; font-size: 21px;}
._link2:hover{color: #ff6c00; text-decoration: underline;}
._link3{color: #fff; font-size: 15px;}
._link3:hover{color: #ff6c00; text-decoration: underline;}
._list1 > li{ position: relative; display: inline-block;margin-bottom: 10px;background:url(../images/marker.png) 0 50% no-repeat;}
._list1 > li >a{margin-left: 15px; color: #fff;font-size: 15px;}
._list1 > li >a:hover{text-decoration: none;}
.bord1{border-right: 1px solid #262626;}
._fig1{display: inline-block; float: left;margin-right: 30px;}
.moreButton{ position: relative; bottom: 0; padding: 5px 15px; background: url(../images/sprite_1.png); color: #000;font-size: 15px;}
.moreButton:hover{text-decoration:none; }
.zoomSp{
 position:absolute;
  bottom:0;
  left:0;
   z-index:3;
   display:block;
   width: 240px; 
   height: 180px; 
   background:#000 url(../images/magnify.png) 50% 50% no-repeat; 
   font-size: 20px;
   color:white;
}

.zoomSp p{
	position: absolute;
	height: 20px;
	font-size: 20px;
	color:white;
	bottom: 20px;
	width: 100%;
	text-align: center;
	background: white;
	padding: 5px;
	color:black;

}

.scroll1{ margin-bottom: 0px;width: 530px; height: 332px;}
.scroll2{ margin-bottom: 0px;width: 530px; height: 332px;}
.track {position:absolute; top: 18px; left: 567px; width:19px; height:295px; background:#4d4d4d; }
.shuttle{position:relative; width: 19px; height:100px; background:#fff;}
.shuttle:hover{ background:#ff6c00;}
._up-btn{display: none;}
._down-btn{display: none;}
.Btns1{position: absolute;top: 0;right: 0px;z-index: 2; width: 19px; height: 332px;}
.Btns2{position: absolute;top: 0;right: 0px;z-index: 2; width: 19px; height: 331px;}
.upBtn{ position: absolute; top: 0; display: block; width: 19px; height: 19px;background:url(../images/upBtn.png) 0 0 no-repeat;}
.upBtn:hover{background:url(../images/upBtn.png) 0 100% no-repeat;}
.downBtn{ position: absolute; bottom: 0; display: block; width: 19px; height: 19px;background:url(../images/downBtn.png) 0 0 no-repeat;}
.downBtn:hover{background:url(../images/downBtn.png) 0 100% no-repeat;}
.closePlane{  position: absolute;top: 6px;right: 6px;   z-index: 2;width: 30px; height: 30px;}
.closeButton{ margin: 8px; }
.iconHolder{position: absolute; left: 0;  z-index: 2; display: inline-block;width: 720px;height: 540px;}
#img_slider{position: absolute; z-index: 1; }
#img_slider > ul{white-space: nowrap; }
#img_slider > ul >li{ position: absolute; display: inline-block; float: left;width: 240px; white-space: normal; }
#next{position: absolute; top: 194px; right: 20px; z-index: 2; }
#prev{position: absolute; top: 194px; left: 20px; z-index: 2; }
.leftPlane{ position: absolute; right: 470px; z-index: 2; width: 830px; height: 522px;background: url(../images/blackPlane.png); }
.rightPlane{ position: absolute; left: 470px; z-index: 2; width: 1300px; height: 522px;background: url(../images/blackPlane.png); }
.picHold{ position: relative; cursor: pointer;}
.followHolder{position: relative;display: inline-block;float: right;margin-top: 30px;width: 300px;}
.followHolder span{ position: relative; display: inline-block;width: 100%; color: #313131;text-align: right; font-size: 21px;font-family: 'Open Sans', sans-serif; line-height: 24px;}
.followHolder > ul{display: inline-block;float: right;margin-top: 20px;}
.followHolder > ul > li{display: inline-block; float: left;margin-left: 6px;}
.followHolder > ul > li > a{ }
/*----------------------------------------*/
/* ============================= footer ====================== */
footer{position: relative; z-index:1; display: block;float: right;  margin: 0 auto; width: 720px;height: 86px;text-align: center;}
.mainFooter { z-index:2;display: inline-block; margin: 0 auto;  }
.privHold{ position:relative; margin-top: 34px;}
.textPrivacy{ position:relative; display:inline-block; color: #313131; color: #414141;font-weight: 300; font-size: 21px;font-family: 'Open Sans', sans-serif;line-height: 25px;}
/*===================================Map=====================================*/
.google_map{
	margin:0; 
	width:270px; 
	height:210px; 
	background:#fff; 
}
/* ============================= forms ============================= */
#ContactForm {
	padding:0; 
}

#ContactForm .title1{
    position: relative;
    display: inline-block;
    float: left;
    width: 75px;
    color: #808080;
    font-size: 15px;
    line-height: 26px;
}

#ContactForm .bg{
	position: relative; 
	display: inline-block;
	float: left;
	padding:0;
}
#ContactForm .wrapper {
	overflow:inherit; 
	min-height:40px; 
}
#ContactForm .success { 
    position:relative; 
    float:left;
	padding-bottom: 10px; 
	width: 100%; 
	color: #fff; 
    text-transform:uppercase; 
	font-size:10px; 
	line-height: 11px;
}
#ContactForm label {
	position:relative; 
	display:inline-block;  
	float: left;
	padding-bottom: 4px; 
	width: 100%;
}
#ContactForm span {
	display:block;
}
#ContactForm .error,#ContactForm .empty { 
	position:relative; 
	top:0px; 
	display:none; 
	float: right; 
	width: 200px; 
	color: #fff; 
    text-transform:uppercase;
	font-size:9px; 
	line-height:9px;
}
#ContactForm a {
	position:relative; 
	z-index:1; 
}
#ContactForm a:hover {text-decoration:underline; }
#ContactForm .input { 
	padding: 3px 4px;
	width: 185px; 
	outline:none; 
	border: 1px solid #4C4C4C; 
	background: #000; 
	color: #808080; 
	font-size: 12px; 
	font-family:Arial;
}
#ContactForm textarea {
	overflow:auto; 
	margin:0; 
	padding: 2px 4px; 
	width: 185px; 
	height: 176px; 
	outline:none; 
	border: 1px solid #4C4C4C; 
	background: #000; 
	color: #808080; 
	font-size: 15px; 
	font-family:Arial; 
	resize:none;
}
#ContactForm .block { 
	position:relative;
	display:inline-block; 
	float: left; 
	width: 100%; 
}
#ContactForm .magRight1{margin-right:16px; }
.w2{
 width:560px; 
}
.formButtons{position:relative; display: inline-block; float: right; margin-top: 14px;margin-right: 60px;}
.formBtn{  position:relative;display:inline-block;  }
/* ============================= end forms ============================= */

/* ============================= Product page CSS starts ============================= */


#main-content{
	float: left;
	width:860px;

}

#main-content .summary{
	width:320px;
	float: left;
	padding: 0 10px;
	color: #4c4c4c;
}

#main-content .title{
	width: 840px;
	/*text-align: center;*/
	padding:10px 0;
	font-size: 30px;
	margin:20px 10px;
	float: left;
	border-bottom: 1px dotted #ccc;
}

#main-content .video{
	width:500px;
	margin:0 auto;
	float: left;
}

#main-content .project-desc{
	padding: 10px;
	font-size: 1em;
	line-height: 1.5em;
	margin:10px 0;
	float: left;
}
